* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

.reg,
.login {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.reg input,
.login input {
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  outline: none;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  font-family: helvetica;
}

button {
  width: 100px;
  border: none;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.219);
  margin: 15px;
  font-size: 18px;
  font-family: cursive;
  border-radius: 6px;
}
